<div id="container"></div>

<script>
  window.Medibot = {
    Models: {},
    Collections: {},
    Views: {}
  };
</script>
<script type='text/javascript' src="/javascripts/medibot-templates.min.js"></script>
<script type='text/javascript' src="/javascripts/medibot-client.js"></script>
<script>
	(function ($) {
		hud = new Medibot.Views.Hud;
	  $('#container').append(hud.render().el);

    updateGamepad = function() {
      window.requestAnimFrame(updateGamepad);
      Gamepads.update();
    }
    if (Gamepads.supported) {
      updateGamepad();
	  }
  }
  )(jQuery);
</script>